@import url("https://fonts.googleapis.com/css2?family=Ravi+Prakash&family=Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  width: 100%;
  background-color: #d4fcff;
  font-family: "Roboto Slab", serif;
}

.main-container header {
  z-index: 99;
  background-color: #e3ffd1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
}

@media (min-width: 1024px) {
  .main-container header {
    height: 120px;
  }
  .main-container header img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.main-container .welcome {
  font-size: 20px;
  color: #000000;
  position: relative;
  text-align: center;
  padding-top: 6rem;
}

@media (min-width: 1024px) {
  .main-container .welcome {
    padding-top: 11rem;
    font-size: 40px;
  }
}

.main-container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Ravi Prakash", cursive;
}

@media (min-width: 1024px) {
  .main-container .links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
  }
}

.main-container .links .web-tasks,
.main-container .links .js-tasks {
  text-decoration: none;
  color: #08244e;
  cursor: pointer;
  width: 80vw;
  background-color: #c6c0a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2.5vh 0;
  padding: 10vh 20px;
  border-radius: 2ch;
}

@media (min-width: 1024px) {
  .main-container .links .web-tasks,
  .main-container .links .js-tasks {
    max-width: 38vw;
    margin: 13vh 0;
  }
}

.main-container .links .web-tasks h1,
.main-container .links .js-tasks h1 {
  font-size: 2rem;
}

@media (min-width: 1024px) {
  .main-container .links .web-tasks h1,
  .main-container .links .js-tasks h1 {
    font-size: 3rem;
  }
}

.main-container .links .web-tasks div,
.main-container .links .js-tasks div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.main-container .links .web-tasks div .completed,
.main-container .links .js-tasks div .completed {
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .main-container .links .web-tasks div .completed,
  .main-container .links .js-tasks div .completed {
    font-size: 2rem;
  }
}

.main-container .links .web-tasks div h2,
.main-container .links .js-tasks div h2 {
  padding: 0.5rem 1rem 0 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  border-radius: 0.8ch;
  background-color: #d1d1d1;
}

@media (min-width: 1024px) {
  .main-container .links .web-tasks div h2,
  .main-container .links .js-tasks div h2 {
    font-size: 2.5rem;
  }
}

.main-container .links .js-tasks {
  background-color: #bfd5e5;
}

.main-container .links .js-tasks div h2 {
  background-color: #ececec;
}

.main-container footer {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 1.4rem;
  position: fixed;
  color: white;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer {
    font-size: 14px;
    line-height: 18px;
  }
}
/*# sourceMappingURL=main.css.map */