@font-face {
  font-family: "Roboto";
  src: url(../../Assets/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============
    MAIN PAGE
=============*/

.main-page {
  position: relative;
  width: 100%;
  height: 100vh;

  background: #2a2e40;
  .welcome {
    position: absolute;
    left: 35%;
    top: 123px;

    font-family: "Roboto";
    font-size: 100px;
    line-height: 145.4%;
    /* or 174px */

    text-align: center;

    color: #3a4050;

    text-shadow: 0px 8px 9px #161616;
  }
  a {
    transition: transform 200ms ease-in, animation 200ms ease-in-out;

    img {
      position: absolute;
      width: 522.5px;
      height: 166.5px;
      left: 699px;
      top: 708px;
    }
    p {
      position: absolute;
      width: 212px;
      height: 112px;
      left: 816px;
      top: 735px;

      font-family: "Roboto";
      font-size: 50px;
      line-height: 112.4%;
      text-align: center;

      color: #323642;

      text-shadow: -2px 5px 8px #1a1c20;
    }
    img,
    p {
      animation: tagMotion 500ms;
      animation-iteration-count: infinite;
    }

    @keyframes tagMotion {
      from {
        transform: translateX(3px);
      }
      to {
        transform: translateX(-3px);
      }
    }
  }
  .animation {
    .antman {
      position: absolute;
      width: 20px;
      left: 217px;
      top: 853px;
      animation: zoomEffect 350ms 0.5s ease-in;
      animation-fill-mode: forwards;
    }
    .sayText {
      position: absolute;
      left: 305px;
      top: 39px;
      opacity: 0;
      animation: chat-enter 10ms 1.5s ease;
      animation-fill-mode: forwards;
    }

    @keyframes zoomEffect {
      from {
        width: 20px;
      }
      to {
        width: 300px;
        left: 75px;
        top: 148px;
      }
    }
    @keyframes chat-enter {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

/* ============
    HOME PAGE
=============*/
.home-page {
  position: relative;
  width: 100%;
  height: 100vh;

  background: #2a2e40;
  .name {
    position: absolute;
    width: 680px;
    height: 145px;
    left: 218px;
    top: 192px;

    font-family: "Roboto";

    font-size: 100px;
    line-height: 145.4%;
    /* or 145px */

    text-align: center;

    color: #3a4050;

    text-shadow: 0px 8px 9px #161616;
  }
  .score {
    position: absolute;
    width: 410px;
    height: 145px;
    left: 353px;
    top: 337px;

    font-family: "Roboto";

    font-size: 100px;
    line-height: 145.4%;
    /* or 145px */

    text-align: center;

    color: #353a46;

    text-shadow: -3px 6px 12px #1e2027;
  }
  .get-task {
    img {
      position: absolute;
      width: 522.5px;
      height: 166.5px;
      left: 688px;
      top: 540px;
    }
    p {
      position: absolute;
      width: 212px;
      height: 112px;
      left: 805px;
      top: 567px;

      font-family: "Roboto";
      font-size: 50px;
      line-height: 112.4%;
      /* or 56px */

      text-align: center;

      color: #323642;

      text-shadow: -2px 5px 8px #1a1c20;
    }
    &:hover {
      img,
      p {
        transform: translateY(-4px);
      }
    }
    &:active {
      img,
      p {
        transform: translateY(-1px);
      }
    }
  }
  .view-review {
    img {
      position: absolute;
      width: 917px;
      height: 78px;
      left: 502px;
      top: 90%;
    }
    p {
      position: absolute;
      width: 528px;
      height: 67px;
      left: 696px;
      top: 91%;

      font-family: "Roboto";
      font-size: 40px;
      line-height: 145.4%;
      /* identical to box height, or 67px */

      text-align: center;

      color: #3a3f4a;

      text-shadow: 0px 4px 6px #191a20;
    }
    &:hover {
      img,
      p {
        transform: translateY(-4px);
      }
    }
    &:active {
      img,
      p {
        transform: translateY(-1px);
      }
    }
  }

  .img-najim {
    position: absolute;
    width: 550px;
    height: 544.84px;
    left: 1211px;
    top: 123px;
  }
}

/* ============
    TASK PAGE
=============*/
.task-page {
  position: relative;
  width: 100%;
  height: 100vh;

  background: #2a2e40;
  .task-number {
    position: absolute;
    width: 377px;
    height: 145px;
    left: 771px;
    top: 109px;

    font-family: "Roboto";

    font-size: 100px;
    line-height: 145.4%;
    /* or 145px */

    text-align: center;

    color: #3a4050;

    text-shadow: 0px 8px 9px #161616;
  }
  .right-slider {
    position: absolute;
    width: 90.01px;
    height: 237.93px;
    right: 6%;
    top: 40%;
  }
  .left-slider {
    position: absolute;
    width: 90.01px;
    height: 237.93px;
    left: 6%;
    top: 40%;

    transform: rotate(-180deg);
  }
  .task-icon {
    position: absolute;
    width: 51px;
    height: 40px;
    left: 988px;
    top: 511px;
  }
  .task-overview {
    position: absolute;
    width: 838px;
    height: 375px;
    left: 541px;
    top: 374px;

    font-family: "Roboto";
    font-size: 35px;
    line-height: 100%;
    /* or 35px */

    color: #424450;

    text-shadow: 0px 4px 8px #262a34;
  }
  .rect-submit {
    position: absolute;
    width: 1019px;
    height: 101px;
    left: 22%;
    top: 87%;
  }
  .submit-link {
    position: absolute;
    left: 100px;
    top: 89%;

    font-family: "Roboto";

    font-size: 30px;
    line-height: 100%;
    /* or 35px */

    text-align: center;

    color: #484c5b;

    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }
  form {
    button {
      border: none;
      cursor: pointer;
      p {
        position: absolute;
        width: 111px;
        height: 35px;
        left: 1608px;
        top: 90%;

        font-family: "Roboto";

        font-size: 35px;
        line-height: 100%;
        /* identical to box height, or 35px */

        text-align: center;

        color: #4b5063;

        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        z-index: 2;
      }
      img {
        position: absolute;
        width: 223px;
        height: 101px;
        left: 1547px;
        top: 87%;
      }
      &:hover {
        img,
        p {
          transform: translateY(-4px);
        }
      }
      &:active {
        img,
        p {
          transform: translateY(-1px);
        }
      }
    }

    input {
      outline: none;
      border: none;
      border-bottom: 1px solid #3f424e;
      background: transparent;

      position: absolute;
      width: 710px;
      padding-bottom: 6px;
      left: 30%;
      top: 90%;
      z-index: 2;

      font-family: "Roboto";

      font-size: 35px;
      line-height: 100%;
      /* identical to box height, or 35px */

      color: #424450;

      text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

      &:invalid:focus ~ img {
        animation: handMotion 200ms;
        animation-iteration-count: 3;
      }

      @keyframes handMotion {
        0% {
          transform: translateX(0px);
        }
        33% {
          transform: translateX(10px);
        }
        66% {
          transform: translateX(-10px);
        }
        100% {
          transform: translateX(0px);
        }
      }
    }
    .hand {
      position: absolute;
      left: 20%;
      top: 90%;
      animation: handMotion 200ms;
      animation-iteration-count: 3;
    }
  }
}
