@font-face {
  font-family: "Roboto";
  src: url(../../Assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ============
    MAIN PAGE
=============*/
.main-page {
  position: relative;
  width: auto;
  height: 100vh;
  background: #2a2e40;
}

.main-page .welcome {
  font-family: "Roboto";
  font-size: 5rem;
  font-size: calc(4rem + 1vw);
  line-height: 1.3em;
  padding-top: 6%;
  padding-left: 3em;
  text-align: center;
  color: #3a4050;
  text-shadow: 0px 8px 9px #161616;
}

.main-page a {
  -webkit-transition: -webkit-transform 200ms ease-in, -webkit-animation 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in, -webkit-animation 200ms ease-in-out;
  transition: transform 200ms ease-in, animation 200ms ease-in-out;
  transition: transform 200ms ease-in, animation 200ms ease-in-out, -webkit-transform 200ms ease-in, -webkit-animation 200ms ease-in-out;
}

.main-page a img {
  position: absolute;
  width: calc(16rem + 3vw);
  top: 60%;
  left: 53%;
}

.main-page a p {
  position: absolute;
  top: 62%;
  left: 57%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  color: #323642;
  text-shadow: -2px 5px 8px #1a1c20;
}

.main-page a img,
.main-page a p {
  -webkit-animation: tagMotion 500ms;
          animation: tagMotion 500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes tagMotion {
  from {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  to {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

@keyframes tagMotion {
  from {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  to {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

.main-page .animation .antman {
  position: absolute;
  width: 20px;
  bottom: 10%;
  left: 10%;
  -webkit-animation: zoomEffect 350ms 1s ease-in;
          animation: zoomEffect 350ms 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-page .animation .sayText {
  position: absolute;
  width: 16%;
  top: 10%;
  left: 18%;
  opacity: 0;
  -webkit-animation: chat-enter 10ms 2s ease;
          animation: chat-enter 10ms 2s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes zoomEffect {
  from {
    width: 20px;
  }
  to {
    left: 6%;
    bottom: 10%;
    width: 15em;
  }
}

@keyframes zoomEffect {
  from {
    width: 20px;
  }
  to {
    left: 6%;
    bottom: 10%;
    width: 15em;
  }
}

@-webkit-keyframes chat-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes chat-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ============
    HOME PAGE
=============*/
.home-page {
  position: relative;
  width: auto;
  height: 100vh;
  background: #2a2e40;
}

.home-page .name {
  font-family: "Roboto";
  font-size: 5rem;
  font-size: calc(6rem + 1vw);
  line-height: 1.3em;
  padding-top: 10%;
  padding-left: 2.5em;
  color: #3a4050;
  text-shadow: 0px 8px 9px #161616;
  z-index: 3;
}

.home-page .score {
  width: 50%;
  padding-top: 2%;
  padding-left: 20%;
  z-index: 3;
  font-family: "Roboto";
  font-size: calc(6rem + 1vw);
  color: #353a46;
  text-shadow: -3px 6px 12px #1e2027;
}

.home-page .get-task img {
  position: absolute;
  width: calc(20rem + 4vw);
  top: 60%;
  z-index: 3;
  left: 40%;
}

.home-page .get-task p {
  position: absolute;
  z-index: 3;
  top: 62%;
  left: 45%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5em;
  text-align: center;
  color: #323642;
  text-shadow: -2px 5px 8px #1a1c20;
}

.home-page .get-task:hover img,
.home-page .get-task:hover p {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.home-page .get-task:active img,
.home-page .get-task:active p {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.home-page .view-review {
  text-decoration: none;
}

.home-page .view-review img {
  width: 50%;
  padding-top: 22%;
  margin-left: 25%;
}

.home-page .view-review p {
  font-family: "Roboto";
  font-size: 2.3rem;
  margin-top: -4.5%;
  text-align: center;
  color: #3a3f4a;
  text-shadow: 0px 4px 6px #191a20;
}

.home-page .view-review:hover img,
.home-page .view-review:hover p {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.home-page .view-review:active img,
.home-page .view-review:active p {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.home-page .img-najim {
  position: absolute;
  width: 30%;
  right: 10%;
  top: 10%;
}

/* ============
    TASK PAGE
=============*/
.task-page {
  position: relative;
  width: auto;
  height: 100vh;
  background: #2a2e40;
}

.task-page .task-number {
  font-family: "Roboto";
  font-size: 5rem;
  font-size: calc(4rem + 1vw);
  padding-top: 6%;
  text-align: center;
  color: #3a4050;
  text-shadow: 0px 8px 9px #161616;
}

.task-page .right-slider {
  position: absolute;
  width: 6rem;
  right: 5%;
  top: 30%;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.task-page .left-slider {
  position: absolute;
  width: 6rem;
  left: 5%;
  top: 30%;
}

.task-page .task-icon {
  width: 51px;
  position: absolute;
  top: 40%;
  left: 60%;
}

.task-page .task-overview {
  font-family: "Roboto";
  margin-top: 2em;
  margin-left: 25%;
  font-size: 2em;
  color: #424450;
  text-shadow: 0px 4px 8px #262a34;
}

.task-page .rect-submit {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 85%;
}

.task-page .submit-link {
  display: inline-block;
  font-family: "Roboto";
  font-size: 30px;
  margin-top: 11%;
  margin-left: 3%;
  color: #484c5b;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.task-page form button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.task-page form button p {
  position: absolute;
  font-family: "Roboto";
  font-size: 2rem;
  text-align: center;
  color: #4b5063;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  z-index: 9;
  left: 82.5%;
  top: 87%;
}

.task-page form button img {
  position: absolute;
  width: 11rem;
  left: 80%;
  top: 84.5%;
  z-index: 0;
}

.task-page form button:hover img,
.task-page form button:hover p {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.task-page form button:active img,
.task-page form button:active p {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.task-page form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #3f424e;
  background: transparent;
  position: absolute;
  width: 45%;
  padding-bottom: 6px;
  left: 27%;
  top: 87%;
  z-index: 2;
  font-family: "Roboto";
  font-size: 35px;
  color: #424450;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.task-page form input:invalid:focus ~ img {
  -webkit-animation: handMotion 200ms;
          animation: handMotion 200ms;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}

@-webkit-keyframes handMotion {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  33% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  66% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes handMotion {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  33% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  66% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.task-page form .hand {
  position: absolute;
  left: 19.5%;
  top: 88%;
  -webkit-animation: handMotion 200ms;
          animation: handMotion 200ms;
  -webkit-animation-iteration-count: 3;
          animation-iteration-count: 3;
}
/*# sourceMappingURL=style.css.map */