@font-face {
  font-family: "Roboto";
  src: url(../../Assets/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============
    MAIN PAGE
=============*/

.main-page {
  position: relative;
  width: auto;
  height: 100vh;

  background: #2a2e40;
  .welcome {
    font-family: "Roboto";
    font-size: 5rem;
    font-size: calc(4rem + 1vw);
    line-height: 1.3em;
    padding-top: 6%;
    padding-left: 3em;
    text-align: center;
    color: #3a4050;
    text-shadow: 0px 8px 9px #161616;
  }
  a {
    transition: transform 200ms ease-in, animation 200ms ease-in-out;

    img {
      position: absolute;
      width: calc(16rem + 3vw);
      top: 60%;
      left: 53%;
    }
    p {
      position: absolute;
      top: 62%;
      left: 57%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 2em;
      text-align: center;
      color: #323642;
      text-shadow: -2px 5px 8px #1a1c20;
    }
    img,
    p {
      animation: tagMotion 500ms;
      animation-iteration-count: infinite;
    }

    @keyframes tagMotion {
      from {
        transform: translateX(3px);
      }
      to {
        transform: translateX(-3px);
      }
    }
  }
  .animation {
    .antman {
      position: absolute;
      width: 20px;
      bottom: 10%;
      left: 10%;

      animation: zoomEffect 350ms 1s ease-in;
      animation-fill-mode: forwards;
    }
    .sayText {
      position: absolute;
      width: 16%;
      top: 10%;
      left: 18%;
      opacity: 0;
      animation: chat-enter 10ms 2s ease;
      animation-fill-mode: forwards;
    }

    @keyframes zoomEffect {
      from {
        width: 20px;
      }
      to {
        left: 6%;
        bottom: 10%;
        width: 15em;
      }
    }
    @keyframes chat-enter {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

/* ============
    HOME PAGE
=============*/
.home-page {
  position: relative;
  width: auto;
  height: 100vh;
  z-index: -2;

  background: #2a2e40;
  .name {
    font-family: "Roboto";
    font-size: calc(5rem + 1vw);
    line-height: 1.3em;
    padding-top: 10%;
    padding-left: 2.5em;
    color: #3a4050;
    text-shadow: 0px 8px 9px #161616;
    z-index: 3;
  }
  .score {
    width: 50%;
    padding-top: 2%;
    padding-left: 20%;
    z-index: 3;
    font-family: "Roboto";
    font-size: calc(6rem + 1vw);
    color: #353a46;
    text-shadow: -3px 6px 12px #1e2027;
  }
  .get-task {
    img {
      position: absolute;
      width: calc(20rem + 4vw);
      top: 60%;
      z-index: 3;
      left: 40%;
    }
    p {
      position: absolute;
      z-index: 3;
      top: 62%;
      left: 45%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 2.5em;
      text-align: center;
      color: #323642;
      text-shadow: -2px 5px 8px #1a1c20;
    }
    &:hover {
      img,
      p {
        transform: translateY(-4px);
      }
    }
    &:active {
      img,
      p {
        transform: translateY(-1px);
      }
    }
  }
  .view-review {
    text-decoration: none;
    img {
      position: absolute;
      width: 50%;
      left: 25%;
      top: 85%;
      z-index: -1;
    }
    p {
      font-family: "Roboto";
      font-size: 2.3rem;
      margin-top: 21.5%;
      text-align: center;
      color: #3a3f4a;
      z-index: 2;
      text-shadow: 0px 4px 6px #191a20;
    }
    &:hover {
      img,
      p {
        transform: translateY(-4px);
      }
    }
    &:active {
      img,
      p {
        transform: translateY(-1px);
      }
    }
  }

  .img-najim {
    position: absolute;
    width: 30%;
    right: 10%;
    top: 10%;
    z-index: -1;
  }
}

/* ============
    TASK PAGE
=============*/

.task-page {
  position: relative;
  width: auto;
  height: 100vh;

  background: #2a2e40;
  .task-number {
    font-family: "Roboto";
    font-size: 5rem;
    font-size: calc(4rem + 1vw);
    padding-top: 6%;
    text-align: center;
    color: #3a4050;
    text-shadow: 0px 8px 9px #161616;
  }
  .right-slider {
    position: absolute;
    width: 6rem;
    right: 5%;
    top: 30%;
    transform: rotate(-180deg);
  }
  .left-slider {
    position: absolute;
    width: 6rem;
    left: 5%;
    top: 30%;
  }
  .task-icon {
    width: 51px;
    position: absolute;
    top: 40%;
    left: 60%;
  }
  .task-overview {
    font-family: "Roboto";
    margin-top: 2em;
    margin-left: 25%;
    font-size: 2em;
    color: #424450;
    text-shadow: 0px 5px 8px #22252e;
  }
  .rect-submit {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 85%;
  }
  .submit-link {
    display: inline-block;
    font-family: "Roboto";
    font-size: 30px;
    margin-top: 11%;
    margin-left: 3%;
    color: #484c5b;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  }
  form {
    button {
      background: transparent;
      border: none;
      cursor: pointer;
      p {
        position: absolute;
        font-family: "Roboto";
        font-size: 2rem;
        text-align: center;
        color: #4b5063;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
        z-index: 9;
        left: 82.5%;
        top: 87%;
      }
      img {
        position: absolute;
        width: 11rem;
        left: 80%;
        top: 84.5%;
        z-index: 0;
      }
      &:hover {
        img,
        p {
          transform: translateY(-4px);
        }
      }
      &:active {
        img,
        p {
          transform: translateY(-1px);
        }
      }
    }

    input {
      outline: none;
      border: none;
      border-bottom: 1px solid #3f424e;
      background: transparent;

      position: absolute;
      width: 45%;
      padding-bottom: 6px;
      left: 27%;
      top: 87%;
      z-index: 2;
      font-family: "Roboto";
      font-size: 35px;
      color: #424450;

      text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

      &:invalid:focus ~ img {
        animation: handMotion 200ms;
        animation-iteration-count: 3;
      }

      @keyframes handMotion {
        0% {
          transform: translateX(0px);
        }
        33% {
          transform: translateX(10px);
        }
        66% {
          transform: translateX(-10px);
        }
        100% {
          transform: translateX(0px);
        }
      }
    }
    .hand {
      position: absolute;
      left: 19.5%;
      top: 88%;
      animation: handMotion 200ms;
      animation-iteration-count: 3;
    }
  }
}
