@font-face {
  font-family: "Roboto";
  src: url(../../Assets/fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============
    MAIN PAGE
=============*/

.main-page {
  position: relative;
  width: auto;
  height: 100vh;

  background: #2a2e40;
  .welcome {
    font-family: "Roboto";
    font-size: 5rem;
    font-size: calc(4rem + 1vw);
    line-height: 1.3em;
    padding-top: 6%;
    padding-left: 3em;
    text-align: center;
    color: #3a4050;
    text-shadow: 0px 8px 9px #161616;
  }
  a {
    transition: transform 200ms ease-in, animation 200ms ease-in-out;

    img {
      position: absolute;
      width: calc(16rem + 3vw);
      top: 60%;
      left: 53%;
    }
    p {
      position: absolute;
      top: 62%;
      left: 57%;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 2em;
      text-align: center;
      color: #323642;
      text-shadow: -2px 5px 8px #1a1c20;
    }
    img,
    p {
      animation: tagMotion 500ms;
      animation-iteration-count: infinite;
    }

    @keyframes tagMotion {
      from {
        transform: translateX(3px);
      }
      to {
        transform: translateX(-3px);
      }
    }
  }
  .animation {
    .antman {
      position: absolute;
      width: 20px;
      bottom: 10%;
      left: 10%;

      animation: zoomEffect 350ms 1s ease-in;
      animation-fill-mode: forwards;
    }
    .sayText {
      position: absolute;
      width: 16%;
      top: 10%;
      left: 18%;
      opacity: 0;
      animation: chat-enter 10ms 2s ease;
      animation-fill-mode: forwards;
    }

    @keyframes zoomEffect {
      from {
        width: 20px;
      }
      to {
        left: 6%;
        bottom: 10%;
        width: 15em;
      }
    }
    @keyframes chat-enter {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}

/* ============
    TASK PAGE
=============*/

.task-page {
  position: relative;
  width: auto;
  height: 100vh;

  background: #2a2e40;
  .back {
    position: absolute;
    text-decoration: none;
    font-family: "Roboto";
    top: 2%;
    left: 2%;
    font-size: calc(1vw + 1rem);
    color: #444b5f;
    text-shadow: 0px 8px 9px #222222;
  }
  .score {
    font-family: "Roboto";
    position: absolute;
    top: 2%;
    right: 2%;
    font-size: calc(1vw + 1rem);
    color: #3a4050;
    text-shadow: 0px 8px 9px #161616;
  }
  .task-number {
    font-family: "Roboto";
    font-size: calc(3rem + 2vw);
    padding-top: 6%;
    text-align: center;
    color: #3a4050;
    text-shadow: 0px 8px 9px #161616;
  }
  .right-slider,
  .left-slider {
    position: absolute;
    width: calc(3vw + 2rem);
    top: 40%;
  }
  .right-slider {
    transform: rotate(-180deg);
    right: 4%;
  }
  .left-slider {
    left: 4%;
  }
  div {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .task {
      width: 70%;
      margin-top: 10vmax;
      font-size: 2em;
      color: #424450;
      text-shadow: 0px 5px 8px #22252e;
    }
    .task-img {
      position: absolute;
      margin-left: 25%;
      margin-top: 5%;
      width: 20%;
    }
  }
  .hand {
    width: 3rem;
    position: absolute;
    left: 30%;
    bottom: 5%;
    animation: hand 300ms infinite;
  }
  .link {
    text-decoration: none;
    position: absolute;
    font-family: "Roboto";
    font-size: calc(0.5rem + 1vw);
    text-align: center;
    color: #58627e;
    text-shadow: 0px 8px 9px #352349;
    left: 38%;
    bottom: 6%;
  }
  @keyframes hand {
    0% {
      transform: translateX(-3px);
    }
    50% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(-3px);
    }
  }
}
