@font-face {
  font-family: "Roboto";
  src: url(../../Assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ============
    MAIN PAGE
=============*/
.main-page {
  position: relative;
  width: auto;
  height: 100vh;
  background: #2a2e40;
}

.main-page .welcome {
  font-family: "Roboto";
  font-size: 5rem;
  font-size: calc(4rem + 1vw);
  line-height: 1.3em;
  padding-top: 6%;
  padding-left: 3em;
  text-align: center;
  color: #3a4050;
  text-shadow: 0px 8px 9px #161616;
}

.main-page a {
  -webkit-transition: -webkit-transform 200ms ease-in, -webkit-animation 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in, -webkit-animation 200ms ease-in-out;
  transition: transform 200ms ease-in, animation 200ms ease-in-out;
  transition: transform 200ms ease-in, animation 200ms ease-in-out, -webkit-transform 200ms ease-in, -webkit-animation 200ms ease-in-out;
}

.main-page a img {
  position: absolute;
  width: calc(16rem + 3vw);
  top: 60%;
  left: 53%;
}

.main-page a p {
  position: absolute;
  top: 62%;
  left: 57%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  text-align: center;
  color: #323642;
  text-shadow: -2px 5px 8px #1a1c20;
}

.main-page a img,
.main-page a p {
  -webkit-animation: tagMotion 500ms;
          animation: tagMotion 500ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes tagMotion {
  from {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  to {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

@keyframes tagMotion {
  from {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  to {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

.main-page .animation .antman {
  position: absolute;
  width: 20px;
  bottom: 10%;
  left: 10%;
  -webkit-animation: zoomEffect 350ms 1s ease-in;
          animation: zoomEffect 350ms 1s ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main-page .animation .sayText {
  position: absolute;
  width: 16%;
  top: 10%;
  left: 18%;
  opacity: 0;
  -webkit-animation: chat-enter 10ms 2s ease;
          animation: chat-enter 10ms 2s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes zoomEffect {
  from {
    width: 20px;
  }
  to {
    left: 6%;
    bottom: 10%;
    width: 15em;
  }
}

@keyframes zoomEffect {
  from {
    width: 20px;
  }
  to {
    left: 6%;
    bottom: 10%;
    width: 15em;
  }
}

@-webkit-keyframes chat-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes chat-enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ============
    TASK PAGE
=============*/
.task-page {
  position: relative;
  width: auto;
  height: 100vh;
  background: #2a2e40;
}

.task-page .back {
  position: absolute;
  text-decoration: none;
  font-family: "Roboto";
  top: 2%;
  left: 2%;
  font-size: calc(1vw + 1rem);
  color: #444b5f;
  text-shadow: 0px 8px 9px #222222;
}

.task-page .score {
  font-family: "Roboto";
  position: absolute;
  top: 2%;
  right: 2%;
  font-size: calc(1vw + 1rem);
  color: #3a4050;
  text-shadow: 0px 8px 9px #161616;
}

.task-page .task-number {
  font-family: "Roboto";
  font-size: calc(3rem + 2vw);
  padding-top: 6%;
  text-align: center;
  color: #3a4050;
  text-shadow: 0px 8px 9px #161616;
}

.task-page .right-slider {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: 4%;
}

.task-page .right-slider:hover {
  -webkit-transform: translateX(8px) rotate(-180deg);
          transform: translateX(8px) rotate(-180deg);
}

.task-page .right-slider:active {
  -webkit-transform: translateX(16px) rotate(-180deg);
          transform: translateX(16px) rotate(-180deg);
}

.task-page .left-slider {
  left: 4%;
}

.task-page .left-slider:hover {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.task-page .left-slider:active {
  -webkit-transform: translateX(-16px);
          transform: translateX(-16px);
}

.task-page .right-slider,
.task-page .left-slider {
  position: absolute;
  width: calc(3vw + 2rem);
  top: 40%;
}

.task-page .right-slider:hover,
.task-page .left-slider:hover {
  -webkit-filter: contrast(150%);
          filter: contrast(150%);
}

.task-page div {
  height: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-page div .task {
  width: 70%;
  margin-top: 10vmax;
  font-size: 2em;
  color: #424450;
  text-shadow: 0px 5px 8px #22252e;
}

.task-page div .task-img {
  position: absolute;
  margin-left: 25%;
  margin-top: 5%;
  width: 20%;
}

.task-page .hand {
  width: 3rem;
  position: absolute;
  left: 30%;
  bottom: 5%;
  -webkit-animation: hand 300ms infinite;
          animation: hand 300ms infinite;
}

.task-page .link {
  text-decoration: none;
  position: absolute;
  font-family: "Roboto";
  font-size: calc(0.5rem + 1vw);
  text-align: center;
  color: #58627e;
  text-shadow: 0px 8px 9px #352349;
  left: 38%;
  bottom: 6%;
}

@-webkit-keyframes hand {
  0% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}

@keyframes hand {
  0% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}
/*# sourceMappingURL=style.css.map */