@import url("https://fonts.googleapis.com/css2?family=Ravi+Prakash&family=Roboto+Slab&display=swap");
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main-container {
  min-height: 100vh;
  width: 100%;
  background-color: #d4fcff;

  font-family: "Roboto Slab", serif;

  header {
    background-color: #e3ffd1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;

    @include desktop {
      height: 120px;
      img {
        transform: scale(1.5);
      }
    }
  }

  .tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .web-task-main,
    .js-task-main {
      margin-top: 20vh;
      font-family: "Ravi Prakash", cursive;

      background: #c6c0a3;
      border-radius: 12px;
      margin-bottom: 200px;

      width: 85%;

      padding: 10px;
      h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 48px;
        color: #08244e;
        text-align: center;

        @include tablet {
          font-size: 50px;
          line-height: 79px;
        }
        @include desktop {
          font-size: 60px;
          line-height: 135px;
        }
      }
      div {
        display: flex;
        justify-content: space-evenly;
        padding-top: 20px;
        flex-wrap: wrap;
        a {
          cursor: pointer;
          color: #08244e;
          text-align: center;
          display: inline-block;
          padding: 20px;
          width: 30vw;
          margin: 20px;
          text-decoration: none;
          font-size: 20px;
          font-family: "Roboto Slab", serif;

          background: #d1d1d1;
          border-radius: 7px;
          transition: transform 100ms ease-in-out;

          @include desktop {
            padding: 50px;
            font-size: 25px;
          }

          &:active {
            transform: scale(0.9);
          }
        }
        .done {
          background-color: #e3ffd1;
          font-size: 16px;
          &::after {
            content: "✅";
            padding-left: 1ch;

            @include desktop {
              padding-left: 2ch;
              font-size: 25px;
            }
          }
          @include desktop {
            font-size: 25px;
          }
        }
      }
    }
    .js-task-main {
      background: #bfd5e6;
      div {
        a {
          background: #ececec;
        }
      }
    }
  }

  footer {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;

    width: 100%;
    height: 1.4rem;
    position: fixed;
    color: white;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;

    @include tablet {
      font-size: 14px;
      line-height: 18px;
    }
  }
}
