@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ravi+Prakash&family=Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-container {
  height: 100%;
  width: 100%;
  background-color: #d4fcff;
  font-family: "Roboto Slab", serif;
}

.main-container header {
  background-color: #e3ffd1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
}

@media (min-width: 1024px) {
  .main-container header {
    height: 120px;
  }
  .main-container header img {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.main-container .tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .tasks .web-task-main,
.main-container .tasks .js-task-main {
  margin-top: 20vh;
  font-family: "Ravi Prakash", cursive;
  background: #c6c0a3;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 200px;
  width: 85%;
  padding: 10px;
}

.main-container .tasks .web-task-main h1,
.main-container .tasks .js-task-main h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 48px;
  color: #08244e;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-container .tasks .web-task-main h1,
  .main-container .tasks .js-task-main h1 {
    font-size: 50px;
    line-height: 79px;
  }
}

@media (min-width: 1024px) {
  .main-container .tasks .web-task-main h1,
  .main-container .tasks .js-task-main h1 {
    font-size: 60px;
    line-height: 135px;
  }
}

.main-container .tasks .web-task-main div,
.main-container .tasks .js-task-main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-container .tasks .web-task-main div a,
.main-container .tasks .js-task-main div a {
  color: #08244e;
  text-align: center;
  display: inline-block;
  padding: 20px;
  width: 30vw;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  background: #d1d1d1;
  border-radius: 7px;
}

@media (min-width: 1024px) {
  .main-container .tasks .web-task-main div a,
  .main-container .tasks .js-task-main div a {
    padding: 50px;
    font-size: 25px;
  }
}

.main-container .tasks .web-task-main div .done,
.main-container .tasks .js-task-main div .done {
  background-color: #e3ffd1;
  font-size: 16px;
}

.main-container .tasks .web-task-main div .done::after,
.main-container .tasks .js-task-main div .done::after {
  content: "✅";
  padding-left: 1ch;
}

@media (min-width: 1024px) {
  .main-container .tasks .web-task-main div .done::after,
  .main-container .tasks .js-task-main div .done::after {
    padding-left: 2ch;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .main-container .tasks .web-task-main div .done,
  .main-container .tasks .js-task-main div .done {
    font-size: 25px;
  }
}

.main-container .tasks .js-task-main {
  background: #bfd5e6;
}

.main-container .tasks .js-task-main div a {
  background: #ececec;
}

.main-container footer {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 1.4rem;
  position: fixed;
  color: white;
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-container footer {
    font-size: 14px;
    line-height: 18px;
  }
}
/*# sourceMappingURL=index.css.map */